.container {
  padding: 20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 20px solid #adc7f5;
}
.p{
  background: #f0d0ff80;
  text-decoration: underline;
  padding: 20px;
  box-shadow: 5px  5px  5px  2px  #606064;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}
.lista{
  width: 70%;
  margin: 1rem;
  padding: 2rem ;
  border: 2px solid #110101;
  box-shadow: 5px  5px  5px  2px  #646060;
}
.usuario{
  width: 30%;
  margin: 1rem;
  padding: 2rem ;
  border: 2px solid #110101;
  box-shadow: 5px  5px  5px  2px  #646060;

}
.tiempo{
  margin: 2%;
  padding: 4% ;
  border: 3px solid #c0c0c0;
  font-size: 17px;
  border-radius: 7px;
}
.inx{
  margin: 1rem;
  width: 72px;
  border: 3px solid #c0c0c0;
  font-size: 17px;
  border-radius: 7px;
  box-shadow: 5px  5px  5px  2px  #000000;
}
.inx2{
  cursor: pointer;
  margin: 1rem;
  border: 3px solid #c0c0c0;
  font-size: 17px;
  border-radius: 7px;
  box-shadow: 5px  5px  5px  2px  #a04203;
}
.h4{
  border: 3px solid #c0c0c0;
}
.boton{
  cursor: pointer;
  margin: 5px;
  border: 5px solid #031ba0;
  font-size: 17px;
  border-radius: 7px;
  box-shadow: 5px  5px  5px  2px  #0b5e95;
}
.boton:hover{
  background: #031ba0;
  color: #03a02a;
}

.footer {
  display: flex;flex: 1;
  padding: 0px;
  border-top: 15px solid #110101;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  
  flex-direction: column;
  border-radius: 50%;
  background: rgb(164, 246, 239);
  box-shadow: 0 0 0 5px rgba(133, 77, 55, 0.5),25px  25px 10px rgba(133, 77, 55, 0.9);
}




.title {
  margin: 0;
  margin-bottom: 45px;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  background: rgb(186, 235, 255);
  box-shadow: 0 0 0 5px rgba(133, 77, 55, 0.5),25px  25px 10px rgba(133, 77, 55, 0.9);

}




@media (max-width: 600px) {
  .main{
    flex-direction: column;
  }
  .usuario{
    width: auto;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
